* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html {
  font-size: 40px;
}

body {
  min-height: 100vh;
}

:root {
  --BOX-SHADOW: 2px 2px 2px #000;
  --BORDER: 2px solid #000;
  --BORDER-RADIUS: 0.25rem;
}