.addItemForm {
    display: flex;
    width: 100%;
    align-items: center;
}

.addItemForm input[type=text] {
    flex-grow: 1;
    border: 2px solid black;
    font-size: 1rem;
    padding: 0.25rem;
    border-radius: 0.25rem;
    margin-right: 0.25rem;
    margin-top: 0;
}

.addItemForm svg {
    height: 1rem;
    width: 1rem;
    margin: 0;
}

.addItemForm input[type=text]:focus {
    border: 2px solid var(--BG-COLOR);
}

.addItemForm input[type=text]:hover {
    border: 2px solid var(--BG-COLOR);
}

.addItemForm button {
    height: 48px;
    min-width: 48px;
    padding: 0.5em;
    border-radius: 0.25rem;
    font-size: 1rem;
    background-color: aliceblue;
    color: mediumblue;
    cursor: pointer;
}